<!-- 自定义关于页 -->

<p style="color: #444;">
    <span class="icon-cogs"></span>
    关于我
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="icon-profile"></span>
        <a>个人介绍</a>
    </li>
    <li>
        <span class="icon-office"></span>
        2013年7月，毕业于郑州轻工业学院（Zhengzhou University of Light Industry）
    </li>
    <li>
        <span class="icon-newspaper"></span>
        现工作于上海
    </li>
    <li>
        <span class="icon-envelop"></span>
        联系邮箱 xiucanxin@163.com
    </li>
</ul>



<p style="color: #444;">
    <span class="icon-cogs"></span>
    博客声明：
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="icon-profile"></span>
        本站点主要是各类IT技术文字的聚合，如果您发现有侵犯到您的权利的请联系我，我会接到通知后及时删除侵权内容，谢谢:
        <br/>
        <br/>1.本站上提供的所有资源、文章、均为作者提供或自动采集整理而来，仅供学习和研究使用。如有侵犯你的版权，请联系我们，本站将立即改正。
        <br/>2.访问本站的用户须明白，本站对提供资源和不拥有任何权利(其中大部分是原创)，其版权归该资源的合法拥有者所有，不保证为向用户提供便利而设置的外部链接的准确性、正确性和完整性。
        <br/>3.本站不保证撰写文章中内容的科学性、准确性及合理性；同时本站也不承担用户因使用这些本站资源对自己和他人造成任何形式的损失或伤害。
    </li>
</ul>
 


<br/><br/><br/><hr/>

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137555"></script>
<!-- UY END -->





