<!-- 自定义留言页 -->

<p class="text-center">
  <img style="width: 258px; height: 258px; border: 1px solid #eee; padding: 0; border-radius: 3px;" src="http://osausq2jb.bkt.clouddn.com/wechat_xin.png">
&nbsp;&nbsp;&nbsp;&nbsp;
  <img style="width: 258px; height: 258px; border: 1px solid #eee; padding: 0; border-radius: 3px;" src="http://osausq2jb.bkt.clouddn.com/wechat_mp.jpg">
</p>

<p class="text-center">
  个人微信号和公众号,若加我微信请注明来源
</p>

<br/><br/><br/><hr/>


<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137555"></script>
<!-- UY END -->
